@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,200&display=swap');

 
  @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');


@font-face {
  font-family: 'Storm Gust';
  src: url(fonts/storm_gust/Storm\ Gust.otf) format('opetype'),
    url(fonts/storm_gust/Storm\ Gust.ttf) format('truetype');
  font-style: normal;
}

:root {
  --color1: #3E0409;
  --color2: #040001;
  --color3: #A19A9A;
  --color4: #FFFFFF;
  --background-image: linear-gradient(-50deg, rgb(20, 11, 2), rgb(157, 0, 0));
  --background-image2: linear-gradient(-50deg, #ffffff, #A19A9A);
  --fontPrincipal: 'Storm Gust';
  --font2: 'Kanit';
  --font3: 'Aboreto';
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(70, 5, 10);
}

#cabeçalho{
  max-width: 1366px;
  min-width: 360px;
  height: 85px;
  background-image: linear-gradient(to top, black, transparent);
}
/*---Título principal---*/
#container {
  width: 100%;
  position: relative;
}

#content {
  position: absolute;
  top: 15px;
}

#tinta {
  margin-left: 90px;
  font-family: 'Storm Gust', Tahoma, sans-serif;
  font-size: 3em;
  color: rgb(161, 154, 154);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.955);
}

#tinta:hover {
  cursor: pointer;
}
/*Menu*/
#menu {
    margin-left: 842px;
    margin-top: 32px;
    display: inline-block;
}

.link {
  text-decoration: none;
  color: white;
  font-family: var(--fontPrincipal);
  font-size: 2.5em;
  padding: 5px;
  margin-left: 10px;  
}

ul li {
  display: inline-block;
}

/*Teste menu degradê*/
/*.link:hover {
  background-color: var(--color3);
  text-shadow: 1.5px 1.5px 0px black;
  padding: 2px;
  border-radius: 3px;
  transition: background 1s;
}*/

.link:hover {
  background-image: var(--background-image);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#home::after {
  content: '';
  height: 4px;
  display: block;
  background-image: var(--background-image2);
  border-radius: 2px;
}

#contact::after {
  content: '';
  height: 4px;
  display: block;
  background-image: var(--background-image2);
  border-radius: 2px;
}
/*Conteúdo*/


#entrada {
  position: absolute;
  margin-top: 80px;
  margin-left: 85px;
  background-color: var(--color2);
  padding: 30px;
  border-radius: 15px;
  color: white;
  font-family: var(--font3);
  box-shadow: 1px -2.5px 8px var(--color4);
}

/*Config cadastra-se*/

#are::after {
  content: '';
  height: 4px;
  width: 120px;
  display: block;
  background-image: var(--background-image2);
  border-radius: 2px;
}

#are {
  background-image: var(--background-image2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
}
.porta {
  margin: 8px;
  font-size: 2em;
}

/*Input de login*/
.buttom {
  position: absolute;
  margin-top: 20px;
  color: var(--color4);
  font-size: 25px;
  width: 80px;
  font-family: var(--font2);
  background-image: linear-gradient(-50deg, rgb(20, 11, 2), rgb(157, 0, 0));
  cursor: pointer;
  border-radius: 13px;
  text-decoration: none;
  text-align: center;
}

/*Input delete com gambiarra (lol lol)*/
.portas {
  position: relative;

}

.button {
  margin-top: 20px;
  margin-left: 180px;
  color: var(--color4);
  font-size: 25px;
  width: 80px;
  font-family: var(--font2);
  background-image: linear-gradient(-50deg, rgb(20, 11, 2), rgb(157, 0, 0));
  cursor: pointer;
  border-radius: 13px;
}

.porta::after {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background-image: linear-gradient(-50deg, rgb(20, 11, 2), rgb(157, 0, 0));
  border-radius: 2px;
  
}
/*Espaçamento das caixa do input*/
.nick {
  height: 20px;
}

.inputs {
   height: 20px;
   margin-left: 170px;
}
.input {
  height: 20px;
  margin-left: 158px;
}

.nick:focus {
  background-color: var(--color3);
  color: var(--color4);
}

.inputs:focus {
  background-color: var(--color3);
  color: var(--color4);
}

.input:focus {
  background-color: var(--color3);
  color: var(--color4);
}

/*Config das letras degrade*/

.laibel {
  background-image: var(--background-image);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
}

/*Saiba mais e checkbox*/
#but {
  position: relative;
  font-size: 10px;
}

#autorais {
  margin-top: 20px;
}

#sub {
  position: relative;
  text-decoration: none;
  color: var(--color3);
  text-shadow: var(--color4);
}

/*Footter*/
#caveçalho {
   position: relative;
   background-image: var(--background-image2);
}

#cat {

}